@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply h-screen w-screen
      bg-gray-300 dark:bg-gray-800
      text-slate-800 dark:text-slate-300;
  }
}

@layer components {
  .btn-pm {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  form {
    @apply bg-gray-300 dark:bg-gray-800
    text-slate-800 dark:text-slate-300;

    /* @apply dark:bg-gray-800; */
    input {
      @apply py-2 px-4 focus:ring rounded-full bg-gray-300 dark:bg-gray-800 text-slate-800 dark:text-slate-300;

    }
  }

  .side-menu {
    ul {
      li {
        @apply px-2 py-1 
        bg-gray-300 dark:bg-gray-800
        text-slate-800 dark:text-slate-300
        hover:bg-gray-800 dark:hover:bg-gray-300
        hover:text-slate-300 dark:hover:text-slate-800
          border-l-2 border-l-transparent;
        /* border-left: 2px solid transparent; */
/* 
        > .active{
          border-left: 1px solid transparent;
          border-left-color: blue;
        } */

        a {
          display: block;
        }
      }
      li:has(a.active){
        @apply bg-gray-300 dark:bg-gray-900 border-l-sky-500
        text-slate-900 dark:text-slate-300;
      }
    }
  }

  header {
    @apply p-2;

    .logo {
      @apply text-2xl font-bold;
    }
  }
}

/* LAYOUT */
.main-container {
  header {
    @apply h-16 shadow-md hover:shadow-lg row-span-1
      bg-gray-300 dark:bg-gray-900
      text-slate-800 dark:text-slate-300 ;
  }

  section {

    @apply flex gap-1;

    .side-menu {
      @apply dark:bg-gray-800 min-w-48;
      min-height: calc(100vh - 4em);
    }

    .main-content {
      @apply container min-h-16 p-1;
    }
  }

}